<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Pagina Livros</title>
</head>
<body>
    <h1>BUSCAR LIVROS</h1>
    <div class="container">
        <form action="/buscar" method="GET">
            <label for="titulo">Título</label><input type="text" class="titulosLivros" name="titulo" id="titulo"><input type="radio" name="campo-pesquisa" value="titulo" id="radio-titulo">
            <label for="ano">Ano</label><input type="text" class="anoLivros" name="ano" id="ano"><input type="radio" name="campo-pesquisa" value="ano" id="radio-ano">
            <label for="autor">Autor</label><input type="text" class="autorLivros" name="autor" id="autor"><input type="radio" name="campo-pesquisa" value="autor" id="radio-ano">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="resultado">
        <% if (error) { %>
            <div class="subzero">
                <%= error %>
            </div>
        <% } else if (livro_encontrado) { %>
            <h2><b>Livros Encontrados:</b></h2>
            <ul>
                <% if (Array.isArray(livro_encontrado)) { %>
                    <% livro_encontrado.forEach(livro => { %>
                        <li>
                            <h3>Título: <%= livro.titulo %></h3>
                            <p>Autor: <%= livro.autor %></p>
                            <p>Ano: <%= livro.ano %></p>
                        </li>
                    <% }); %>
                <% } else { %>
                    <li>
                        Título: <%= livro_encontrado.titulo %><br>
                        Autor: <%= livro_encontrado.autor %><br>
                        Ano: <%= livro_encontrado.ano %><br>
                    </li>
                <% } %>
            </ul>
            <% if (livro_encontrado && livro_encontrado.length > 0) { %>
                <% livro_encontrado.forEach(livro => { %>
                <li>
                    <h3>Título: <%= livro.titulo %></h3>
                    <p>Autor: <%= livro.autor %></p>
                    <p>Ano: <%= livro.ano %></p>
                    <form action="/cadastro" method="GET">
                        <input type="hidden" name="livro_id" value="<%= livro.id %>">
                        <button type="submit">Alugar</button>
                    </form>
                </li>
                <% }); %>
            <% } %>
        <% } %>
    </div>
</body>
</html>
